* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    margin: 47px 0px 100px 42px;
}

.link-header1 {
    margin-right: 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.875px;
    color: #17233D;
    cursor: pointer;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.875px;
    color: #17233D;
    margin-right: 32px;
    cursor: pointer;
}

button {
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;
}

.logo-image {
    width: 595px;
    height: 500px;
    margin-left: 121px;
    display: inline-block;
}

section {
    display: inline-block;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
    width: 582px;
    height: 164px;
    margin: 0 0 47px 84.82px;
}

p {
    width: 493px;
    height: 99px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin: 0 0 55px 84.82px;
}

.link-main {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    margin-left: 84.82px;
    cursor: pointer;

}

/* CheckBox Maneiro
label{
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

input {
    position: absolute;
    transform: scale(0);
}

input:checked ~ .checkbox{
    transform: rotate(45deg);
    width: 20px;
    margin-left: 16px;
    border-color: #24C78E;
    border-top-color: transparent;
    border-left-color:transparent;
    border-radius: 0;
}

.checkbox{
    display: block;
    width: inherit;
    height: inherit;
    border: 3px solid #434343;
    border-radius: 6px;
    transition: all 0.375s;
}

*/

@media screen and (max-width: 560px) {
    a {
        display: none;
    }

    button {
        width: 91px;
        height: 31px;
        margin: 17px 15px 0 284px;
    }

    h1 {
        text-align: center;
        width: 278px;
        height: 60px;
        font-size: 30px;
        line-height: 30px;
        margin: 124px 55px 616px 57px;

    }

    .logo-image {
        width: 312px;
        height: 288px;

    }

}